@CHARSET "UTF-8";

html, body { 
    height: 100%;
}

#wrap {
  	min-height: 100%;
  	height: auto !important;
  	height: 100%;
  	/* Negative indent footer by it's height */
  	margin: 0 auto -120px;
  	background-image: url("../img/retina_wood.png")
}

#push, #footer {
	height: 120px;
}
#footer {
	background-color: #f5f5f5;
}
#footer [class*="span"] {
	line-height: 120px;
}

.row-fluid [class*="span"] {
    border: 1px solid #1B75BB;
    border-radius: 4px;
    background-color: white;
    margin-bottom: 20px;
    padding: 0 10px 0 10px;
}

.row-fluid [class*="span"] {
   position:relative;
   z-index:1;
}

.row-fluid [class*="span"]:before {
   content:"";
   position:absolute;
   z-index:-1;
   top:0;
   bottom:0;
   left:0;
   right:0;
   background:transparent url("../img/background-tiles-01.png") repeat 0 0;
   opacity:0.2;
}

[class*="span"] [class*="span"]:before {
  background-color:white;
  background-image: none;
}

.nexttoh1 {
	height:62px; 
	line-height:58px;
}
.smallprogress {
	margin-bottom:10px;
}
.teamlogo {
	height: 92px;
	line-height: 88px;
}
.nexttologo {
	height: 70px;
	line-height: 70px;
}
.chooser {
	height: 44px;
	line-height: 40px;
}
.chooser select {
	margin: 0 !important;
}

.navbar {
	margin-top: 10px;
}

.navbar-inner > img {
	float: left;
	margin: 2px 20px;
}

.navbar .brand {
	font-weight: bold;
	color: #1B75BB;
}

.navbar .profiledropdown {
	color: #1B75BB !important;
	font-weight: bold;
}

.center {
	text-align: center;
}

.bookmarks {
	margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6 {
	color: #1B75BB;
}

hr {
	border-top-color: #aedee4;
	border-top-width: 2px;
}

.bothr {
	margin-top: 0;
}

.ptop {
	margin-top: 10px;
}

/* Tables */
table.center {margin-left:auto; margin-right:auto; text-align:center;}
table.center th {text-align:center; vertical-align: middle;}
table.center td {text-align:center; vertical-align: middle;}
table.vertmiddle td {vertical-align:middle;}
table th {background-color: #faaf40; color:white;}
.smallfonttable {font-size:11px;}
.smallfonttable select {
	font-size:11px;
}
.smallfonttable input {
	font-size:11px;
}
.table-striped .placeholder_row td {
	background-color:#E3F2F9 !important;
}
.table-striped .selected_team_row td {
	background-color:#E3F2F9 !important;
}
.checkth {
	width: 13px;
}
.table-striped tbody tr:nth-child(even) td,
.table-striped tbody tr:nth-child(even) th {
  background-color: white;
}

/* inputs */
.input-micro {
	width: 43px;
}
.input-xsmall {
	width: 65px;
}

img {
	border-radius: 4px;
}

label {
	display: inline;
	font-weight: bold;
	color: #1B75BB;
	margin-right: 10px;
}

/* Player/Team page */
.managelink {
	margin-bottom: 10px;
}

/* Trade page */
.brognatrade td {
	height: 38px;
	line-height: 34px;
}

.conf_msg {
	color:green;
}

/* Login page */
.form-signin {
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 0 auto 30px;
    background-color: #fff;
    border: 1px solid #1B75BB;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
    text-align: left;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin input[type="text"],
.form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}

.form-signin label {
	display: block;
	font-weight: 200;
}

.headrow {
	margin-top: 10px;
}

.headrow img {
	margin-top: 20px;
	margin-bottom: 50px;
}

#loginbox {
   position:relative;
   z-index:1;
}

#loginbox:before {
   content:"";
   position:absolute;
   z-index:-1;
   top:0;
   bottom:0;
   left:0;
   right:0;
   background:url("../img/rotiss-logo.jpg");
   background-size:100% 100%;
   background-repeat:no-repeat;
   opacity:0.5;
}

.input-prepend, .input-append {
	height: 30px;
	line-height: 30px;
	margin-bottom:20px;
}

.input-prepend label {
	line-height: 30px;
}

.auctionsummary {
	height:160px;
}