@CHARSET "UTF-8";

@import url("layout.css");

/* Base */
body {margin:0;}
#bodyleft {text-align:left; padding-left:10;}
#bodycenter {text-align:center;}
table.left {text-align:center;}
table.center {margin-left:auto; margin-right:auto; text-align:center;}
h1 {margin:0.67em 0 0.67em;}
h4 {margin:1.33em 0 1.33em;}

/* Messages */
#error_msg {color:red; font-weight:bold; padding-top:20;}
#alert_msg {color:green; font-weight:bold; padding-top:20;}

/* Login page */
label {font-weight:bold;}
fieldset {width: 153px; margin:20 auto 0 auto; text-align:left;}
#logininfo {margin-left:6;}
#signinbutton {text-align:center;}
